/**
 * Block
 * A block is a single unit of content. It can have many forms,
* `.block` defines the base rules.
*/

$col-block-background : #fff !default;
$col-block-radius     : $col-radius-standard !default;
$col-block-shadow     : 0 1px 3px rgba(#000, 0.4) !default;
$col-block-width      : $col-medium !default;

.col-block {
  background: $col-block-background;
  border: 1px solid #F1F1F1;
  border-radius: $col-block-radius;
  margin: 20px auto 0 auto;
  max-width: $col-block-width;
  position: relative;
  text-align: left;
}

.col-block-dropable {
  position: relative;
  height: 16px;
  width: 100%;
}

.col-block-handle {
  position: absolute;
  color: #727272;
  cursor: move;
  background: #F1F1F1;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -16px;
  padding: 2px 5px 1px 5px;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 1;
}