/**
 * Fab
 *
 * A floating action button. Although it technically does not "float"
 * for our purposes, Fab is a primary action.
 *
 * http://www.google.com/design/spec/components/buttons.html#buttons-floating-action-button
 */

$col-fab-border         : 0 !default;
$col-fab-color          :#000000 !default;
$col-fab-radius         : 50% !default;
$col-fab-size           : 24px !default;
$col-fab-secondary-size : 24px !default;
$col-fab-transition     : 0.4s all !default;
$col-fab-background     : #efefef !default;
$col-fab-hover-background     : #d5d5d5 !default;
$col-fab-hover-shadow   : 0px 1px 5px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1), 0px 3px 1px -2px rgba(0, 0, 0, 0.1) !default;

.col-btn-fab {
  background: $col-fab-background;
  box-shadow: $col-fab-hover-shadow;
  border: $col-fab-border;
  border-radius: 2px;
  color: $col-fab-color;
  display: block;
  padding: 0;
  font-size: 0;
  line-height: 0;
  font-weight: 500;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  transition: $col-fab-transition;
  z-index: 1;

  &:before {
    border-radius: inherit;
    border: 2px solid transparent;
    bottom: unit(-1);
    content: "";
    left: unit(-1);
    position: absolute;
    right: unit(-1);
    top: unit(-1);
    transform: scale(0.7);
    transition: 0.3s all;
  }

  &:focus {
    outline: none;

    &:before {
      border-color: rgba(#000, 0.2);
      transform: scale(1);
    }

    &:active:before {
      box-shadow: inset 0 0 3px rgba(#000, 0.4);
      transform: scale(0.9);
    }
  }

  &:hover {
    background-color:  $col-fab-hover-background;
    box-shadow: $col-fab-hover-shadow;
  }
}

// Fabs within blocks should appear smaller
.col-block .col-btn-fab {
  background: $col-secondary;
  border: none;
  color: rgba(#000, 0.54);
  font-size: 14px;
  font-weight: 600;
  line-height: unit(2);
  height: $col-fab-secondary-size;
  margin: (($col-fab-size - $col-fab-secondary-size) * 0.5) auto;
  padding: 0;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  transition: 0.7s all;
  width: $col-fab-secondary-size;

  &:hover,
  &:focus {
    color: rgba(#000, 0.54);
    transition: 0.3s all;
  }
}
